 <nav class="navbar navbar-inverse navbar-fixed-top" style="background:black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" >
        <li><%= image_tag('logo12.png', class:"img-responsive img-rounded", width:'48%;', height:'12%;')%></li>
         <li><%=link_to"HOME",root_path%></li>
        <li><%=link_to"BLOG",blog_path%></li>
        <li><%=link_to"GALLERY",gallery_path%></li>
        <li><%=link_to"YOUTUBE VIDEO",youtube_videos_path%></li>
        <li><%=link_to"ABOUT US",about_path%></li>

      </ul>


    </div>
  </div>
</nav>