 <nav class="navbar navbar-inverse navbar-fixed-top" style="background:black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" >


        <li ><%= image_tag('logo12.png', class:"img-responsive img-rounded", width:'48%;', height:'12%;')%></li>
        <% if params[:action]=='index'%>
        <li class="header active" ><%=link_to"HOME",root_path%></li>
        <li class="header"><%=link_to"ABOUT US",about_path%></li>
        <li class="header"><%=link_to"BLOG",blog_path%></li>
        <li class="header"><%=link_to"GALLERY",gallery_path%></li>
        <% elsif params[:action]=='about'%>
        <li class="header" ><%=link_to"HOME",root_path%></li>
        <li class="header active"><%=link_to"ABOUT US",about_path%></li>
        <li class="header"><%=link_to"BLOG",blog_path%></li>
        <li class="header"><%=link_to"GALLERY",gallery_path%></li>
         <% elsif params[:action]=='blog'%>
        <li class="header" ><%=link_to"HOME",root_path%></li>
        <li class="header "><%=link_to"ABOUT US",about_path%></li>
        <li class="header active"><%=link_to"BLOG",blog_path%></li>
        <li class="header"><%=link_to"GALLERY",gallery_path%></li>
         <% elsif params[:action]=='gallery'%>
        <li class="header" ><%=link_to"HOME",root_path%></li>
        <li class="header "><%=link_to"ABOUT US",about_path%></li>
        <li class="header"><%=link_to"BLOG",blog_path%></li>
        <li class="header active"><%=link_to"GALLERY",gallery_path%></li>
        <% else%>
        <li class="header" ><%=link_to"HOME",root_path%></li>
        <li class="header "><%=link_to"ABOUT US",about_path%></li>
        <li class="header"><%=link_to"BLOG",blog_path%></li>
        <li class="header "><%=link_to"GALLERY",gallery_path%></li>
        <% end%>


      </ul>


    </div>
  </div>
</nav>