

<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1" >
  <div class="container" style="width:1250px;">
    <h3 class="text-center">EVENTS DATE</h3>
    <p class="text-center">Lorem ipsum we'll play you some music.<br> Remember to book your tickets!</p>

    <br>
   <!--===========================  Slider start ========================-->



    <script>
        jQuery(document).ready(function ($) {

            var jssor_1_options = {
              $AutoPlay: true,
              $AutoPlaySteps: 1,
              $SlideDuration: 500,
              $SlideWidth: 292,
              $SlideSpacing: 10,
              $Cols: 4,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 1
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 1,
                $SpacingY: 1
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1200);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 50);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

 


    <div id="jssor_1" class="jumbotron " style="position: relative; box-shadow:1px 1px 20px 5px white; margin: 0 auto; top: 0px; left: -100px; width: 1200px; height: 450px; overflow: hidden; visibility: hidden;">

        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 450px; overflow: hidden;">


        <div class="thumbnail">
          <%=image_tag("buttons.png" , class:"img-responsive")%>
          <p><strong>Paris</strong></p>
          <p>Friday 27 November 2015</p>
          <center>
          <button class="btn" data-toggle="modal" data-target="#myModal">View Details</button>
          </center>
        </div>

        <div class="thumbnail">
          <%=image_tag("buttons_2.png" , class:"img-responsive")%>
          <p><strong>New York</strong></p>
          <p>Saturday 28 November 2015</p>
          <center>
          <button class="btn" data-toggle="modal" data-target="#myModal">View Details</button>
          </center>
        </div>

        <div class="thumbnail">
         <%=image_tag("buttons_3.png" , class:"img-responsive")%>
          <p><strong>San Francisco</strong></p>
          <p>Sunday 29 November 2015</p>
         <center>
          <button class="btn" data-toggle="modal" data-target="#myModal">View Details</button>
          </center>
        </div>

        <div class="thumbnail">
         <%=image_tag("buttons_3.png" , class:"img-responsive")%>
          <p><strong>San Francisco</strong></p>
          <p>Sunday 29 November 2015</p>
         <center>
          <button class="btn" data-toggle="modal" data-target="#myModal">View Details</button>
          </center>
        </div>

        <div class="thumbnail">
         <%=image_tag("buttons_3.png" , class:"img-responsive")%>
          <p><strong>San Francisco</strong></p>
          <p>Sunday 29 November 2015</p>
          <center>
          <button class="btn" data-toggle="modal" data-target="#myModal">View Details</button>
          </center>
        </div>

      </div>
        <!-- Bullet Navigator -->
       
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora03r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
    </div>

    <!-- #endregion Jssor Slider End -->
</div>
</div>

   
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
              <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
              <button type="submit" class="btn btn-block">Pay
                <span class="glyphicon glyphicon-ok"></span>
              </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <p>Need <a href="#">help?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="band" class="container text-center">
  <h3>THE BAND</h3>
  <%=image_tag("banner.jpg", class:"img-responsive img-circle")%>
  <p><em>We love dance-music!</em></p>
  <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">

       <div class="panel-group">
          <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">FOUNDER NAME-1</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">Discription about founder
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
              <div class="panel-footer"><a href="#contact">Contact</a></div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="panel-group">
          <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">FOUNDER NAME-2</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Discription about founder
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
              <div class="panel-footer"><a href="#contact">Contact</a></div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="panel-group">
          <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">FOUNDER NAME-3</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Discription about founder
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
              <div class="panel-footer"><a href="#contact">Contact</a></div>
            </div>
          </div>
        </div>

  </div>
</div>
</div>
<hr>
<hr>
<%=render 'contactus'%>
