

<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1" >
  <div class="container" style="width:1250px;">
    <h3 class="text-center">EVENTS DATE</h3>
    <p class="text-center">Lorem ipsum we'll play you some music.<br> Remember to book your tickets!</p>

    <br>
   <!--===========================  Slider start ========================-->
    <script>
        jQuery(document).ready(function ($) {

            var jssor_1_options = {
              $AutoPlay: true,
              $AutoPlaySteps: 1,
              $SlideDuration: 500,
              $SlideWidth: 292,
              $SlideSpacing: 10,
              $Cols: 4,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 1
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 1,
                $SpacingY: 1
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1200);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 50);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

 


    <div id="jssor_1" class="jumbotron " style="position: relative; box-shadow:1px 1px 20px 5px white; margin: 0 auto; top: 0px; left: -100px; width: 1200px; height: 450px; overflow: hidden; visibility: hidden;">

        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 450px; overflow: hidden;">


        <div class="thumbnail">
          <%=image_tag("buttons.png" , class:"img-responsive")%>
          
          <center>
          <div class="panel panel-default">
            <div class="panel-heading" style="background:#333333;">
              <h3 class="panel-title">Event Heading</h3>
            </div>
            <div class="panel-body">
            Event short discription..
             <%=link_to"View Details", home_path(@events.first.id) , class:"btn"%>
            </div>
          </div>
         
          </center>
        </div>

        <div class="thumbnail">
          <%=image_tag("buttons_2.png" , class:"img-responsive")%>
           <center>
          <div class="panel panel-default">
            <div class="panel-heading" style="background:#333333;">
              <h3 class="panel-title">Event Heading</h3>
            </div>
            <div class="panel-body">
            Event short discription..
              <%=link_to"View Details", home_path(@events.first.id) , class:"btn"%>
            </div>
          </div>
         
          </center>
        </div>

        <div class="thumbnail">
         <%=image_tag("buttons_3.png" , class:"img-responsive")%>
           <center>
          <div class="panel panel-default">
            <div class="panel-heading" style="background:#333333;">
              <h3 class="panel-title">Event Heading</h3>
            </div>
            <div class="panel-body">
            Event short discription..
              <%=link_to"View Details", home_path(@events.first.id) , class:"btn"%>
            </div>
          </div>
         
          </center>
        </div>

        <div class="thumbnail">
         <%=image_tag("buttons_3.png" , class:"img-responsive")%>
          <center>
          <div class="panel panel-default">
            <div class="panel-heading" style="background:#333333;">
              <h3 class="panel-title">Event Heading</h3>
            </div>
            <div class="panel-body">
            Event short discription..
             <%=link_to"View Details", home_path(@events.first.id) , class:"btn"%>
            </div>
          </div>
         
          </center>
        </div>

        <div class="thumbnail">
         <%=image_tag("buttons_3.png" , class:"img-responsive")%>
           <center>
          <div class="panel panel-default">
            <div class="panel-heading" style="background:#333333;">
              <h3 class="panel-title">Event Heading</h3>
            </div>
            <div class="panel-body">
            Event short discription..
             <%=link_to"View Details", home_path(@events.first.id) , class:"btn"%>
            </div>
          </div>
         
          </center>
        </div>

      </div>
        <!-- Bullet Navigator -->
       
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora03r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
    </div>

    <!-- #endregion Jssor Slider End -->
</div>
</div>

   
 


<div id="band" class="container text-center">
  <h3>THE BAND</h3>
  <%=image_tag("banner.jpg", class:"img-responsive img-circle")%>
  <p><em>We love dance-music!</em></p>
  <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">

       <div class="panel-group">
          <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">FOUNDER NAME-1</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">Discription about founder
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
              <div class="panel-footer"><a href="#contact">Contact</a></div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="panel-group">
          <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">FOUNDER NAME-2</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Discription about founder
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
              <div class="panel-footer"><a href="#contact">Contact</a></div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="panel-group">
          <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">FOUNDER NAME-3</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Discription about founder
                <p>Guitarist and Lead Vocalist</p>
                <p>Loves long walks on the beach</p>
                <p>Member since 1988</p>
              </div>
              <div class="panel-footer"><a href="#contact">Contact</a></div>
            </div>
          </div>
        </div>

  </div>
</div>
</div>
<hr>
<hr>
<%=render 'contactus'%>
